// Inherits from layout 
extend layout
// Then we produce a form that triggers /person once
// the user hits Submit
block navbarcontent
    +nav_item("/") Home
    +nav_item("/page1") Music dataset
    +nav_item("/page2") Last.fm dataset
block content
  p Search for Songs Matching the Tag
  form(method="get", action="/page2sbt")
    input(name='user_quer', value='')
    input(type='submit', value='Get Matching Songs')

  p Search for Similar Songs
  form(method="get", action="/page2sbs")
    input(name='user_quer', value='')
    input(type='submit', value='Get Similar Songs')

  p Search for Songs Matching the artist
  form(method="get", action="/page2sba")
    input(name='user_quer', value='')
    input(type='submit', value='Get Songs')

  p Search for Artists Matching Song
  form(method="get", action="/page2sbti")
    input(name='user_quer', value='')
    input(type='submit', value='Get Artists')



 // Put a click button that lets us return to the index page 
  form(method='get', action='/')
      input(type='submit', value='Home')
